:root {
  --error-color: #dc2626;
  --bg-gray: #E9E9F0;
  --text-gray: #617480;
  --text-dark: #737380;
  --text-white: #fff
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-gray);
}

h1 {
    text-align: center;
    padding-top: 1.25rem;
    color: var(--text-dark);
    font-size: 2.5rem;
}
input {
  outline: none;
}

button {
  border: 0;
  cursor: pointer;
}
